Package: com.wizages.cleansheets
Name: CleanSheets
Depends: mobilesubstrate
Version: 0.1.1
Architecture: iphoneos-arm
Description: Changes the action sheets to a alert popup and allows you to customize the alert.
Maintainer: Wizage <wizagesmax@gmail.com>
Author: Wizage <wizagesmax@gmail.com>
Section: Tweaks
